body {

	background-color: #0b08e1;
	background: url(https://raw.githubusercontent.com/Antonio-2000/Antonio/main/Img/Viaggio.jpg) no-repeat center center fixed;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;

}

table,
th,
td {
	border: 1px solid black;
}

.navigation {
	border: 1px solid black;
	color: 003399;
	font-family: Rockwell;
	text-align: center;
	font-size: 1.3em;
	background-color: #282828;
	color: black;
	font-weight: bold;
	text-align: center;
}

.newspaper {

	-webkit-column-count: 3;
	-webkit-column-gap: 40px;
	-webkit-column-rule-style: outset;
	-webkit-column-rule-width: 1px;


	-moz-column-count: 3;
	-moz-column-gap: 40px;
	-moz-column-rule-style: outset;
	-moz-column-rule-width: 1px;

	column-count: 3;
	column-gap: 40px;
	column-rule-style: outset;
	column-rule-width: 1px;
}

header {
	color: 003399;
	font-family: Rockwell;
	text-align: center;
	font-size: 1.3em;
}

h1 {
	color: black;
	font-family: Rockwell;
	text-align: center;
}

h2 {
	color: #0080ff;
	font-family: Rockwell;
	text-align: center;
}

p {
	color: black;
	text-align: center;
	font-size: 1.4em;
	font-family: Rockwell;
	line-height: 1.5;
	font-weight: bold;

}

nav {
	background-color: #282828;
	color: black;
	font-weight: bold;
	text-align: center;

}

a:link {
	color: white;
	font-family: Rockwell;
	font-size: 1.3em
}

a:visited {
	color: white;
}

a:hover {
	color: #282828;
	font-style: italic;
	background-color: white;
}

img {

	border-radius: 25px;
	box-shadow: 10px 10px 5px #000;

}

footer {
	width: 100%;
	background-color: 666666;
	height: 3em;
	line-height: 3em;
	text-align: left;
	color: #282828;
	font-family: Rockwell;
}

ul li {
	color: white;
	text-align: center;
	font-size: 1.3em;
	font-family: Rockwell;
	line-height: 1.5;
}

ul {
	color: white;
	text-align: center;
	font-size: 1.3em;
	font-family: Rockwell;
	line-height: 1.5;
}

#shakeBox {
	width: 300px;
	margin: 0 auto;
	padding: 0;
}

#msgBox {
	font-family: Verdana;
	font-size: 10px;
	color: #fff;
	margin: 5px 0;
	padding: 0 3px;
	background-color: #83c55e;
}

#msgBox.ko {
	background-color: #ee2424;
}


#shakeForm fieldset {
	border: 1px dotted #666;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
}


#shakeForm label {
	font-family: Verdana;
	font-size: 10px;
	color: #666;
	display: block;
}

#shakeForm label input {
	font-family: Verdana;
	font-size: 100px;
	color: #666;
}

#submit {
	color: #0080ff;
	border: 3%px solid #6666;
	width: 1100%px;

	font-family: Verdana;
}

#login {
	color: #0080ff;
	border: 3%px solid #6666;
	width: 1100%px;
	font-family: Verdana;

	background: url(../Img/Login.jpg)
}

#title {
	font-size: 20px;
	background: #71B8FF;
	padding-top: 10px;
	padding-bottom: 2px;
	text-align: center;
	border-bottom: 1px solid #0080ff;
}

#form {
	text-align: center;
}

#txt {
	border: 1px solid #000000;
	margin-top: 3px;
	margin-left: 10px;
}

#button {
	margin-top: 5px;
	padding: 3px;
	border: 1px solid #0080ff;
	background: #ccc;
	width: 100px;
	color: #000000;
}

#button:hover {
	margin-top: 5px;
	padding: 3px;
	border: 1px solid #0080ff;
	background: #ededed;
	width: 100px;
	color: #444444;
}

#footer {
	bottom: 1px;
	z-index: 50%;
	position: fixed;
	width: 100%;
}



#topbar {
	width: 100%;
	border-bottom: 1px solid #0080ff;
	background: #71b8ff;
	padding-right: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: -20px;
	margin-left: -8px;
	margin-top: -8px;
}

#logout {
	margin-left: 20px;
	border: 1px solid #0080ff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
	background: #ccc;
	color: #000000;
	text-decoration: none;

}

#logout:hover {
	margin-left: 20px;
	border: 1px solid #0080ff;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 20px;
	padding-right: 20px;
	background: #ededed;
	color: #444444;
	text-decoration: none;

}

#main {
	color: #0080ff;
	border: 10%px solid #6666;
	width: 1100%px;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	background: url(../Img/Login.jpg)
}
